<table>
  <tr>
    <th>Contactername</th>
    <th>Addressregion</th>
    <th>Detailedaddress</th>
    <th>Company</th>
    <th>Contactnum</th>
    <th>Cellphonenum</th>
    <th>Email</th>
    <th>Postalcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @contacters.each do |contacter| %>
      <tr>
        <td><%= contacter.contacterName %></td>
        <td><%= contacter.addressRegion %></td>
        <td><%= contacter.detailedAddress %></td>
        <td><%= contacter.company %></td>
        <td><%= contacter.contactNum %></td>
        <td><%= contacter.cellphoneNum %></td>
        <td><%= contacter.email %></td>
        <td><%= contacter.postalCode %></td>
        <td><%= link_to '插入发件人', :action => 'insert_sender':id => contacter.id %></td>
        <td><%= link_to '插入收件人', :action => 'insert_receiver' %></td>
        <td><%= link_to '编辑', edit_contacter_path(contacter) %></td>
        <td><%= link_to '删除', contacter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>