<table>
  <tr>
    <th>姓名</th>
    <th>区域</th>
    <th>地区</th>
    <th>公司</th>
    <th>电话</th>
    <th>手机</th>
    <th>Email</th>
    <th>邮编</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @contacters.each do |contacter| %>
      <tr>
        <td><%= contacter.contacterName %></td>
        <td><%= contacter.addressRegion %></td>
        <td><%= contacter.detailedAddress %></td>
        <td><%= contacter.company %></td>
        <td><%= contacter.contactNum %></td>
        <td><%= contacter.cellphoneNum %></td>
        <td><%= contacter.email %></td>
        <td><%= contacter.postalCode %></td>
        <td><%= button_to '插入发件人', :action => "insert_sender",:id => contacter.id  %></td>
        <td><%= button_to '插入收件人' , :action => "insert_receiver",:id => contacter.id %></td>
        <td><%= link_to '编辑', edit_contacter_path(contacter) %></td>
        <td><%= link_to '删除', contacter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>