<%= form_for(contact) do |f| %>

    <div class="field">
      <%= f.label '姓名' %> <%= f.text_field :contacterName %>
    </div>
    <div class="field">
      <%= f.label '地区' %>
      <%= f.text_field :addressRegion %>
    </div>
    <div class="field">
      <%= f.label '地址' %>
      <%= f.text_field :detailedAddress %>
    </div>
    <div class="field">
      <%= f.label '公司' %>
      <%= f.text_field :company %>
    </div>
    <div class="field">
      <%= f.label '电话' %>
      <%= f.text_field :contactNum %>
    </div>
    <div class="field">
      <%= f.label '手机' %>
      <%= f.text_field :cellphoneNum %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field">
      <%= f.label '邮编' %>
      <%= f.text_field :postalCode %>
    </div>
    <div class="actions">
      <%= f.submit :value => '保存'%>
    </div>
<% end %>
